@model IEnumerable<Finance_29Mar.Models.Product>

@{
    ViewData["Title"] = "Dashboard";
}


<body style="background-color:darkkhaki">
    @*<body style="background-image: url(~\wwwroot\Images\iphone_12.jpg); ">*@
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card" style="width:18rem">
                    <img class="card-img-top" src=@item.Image style="width:200px; height:200px" alt=@item.ProductName />
                    <div class="card-body">
                        <h5>@item.ProductName</h5>
                        <p class="card-text">@item.Description</p><br />
                        <h5 class="card-text">@item.ProductCost</h5>
                        <p class="card-text"><strike class="text-danger">@item.StrikedCost </strike></p>
                        <p class="text-hide">@item.ProductId</p>
                        <a asp-controller="finance" asp-action="GetProductDetails" asp-route-id="@item.ProductId" class="btn btn-info">Buy Product</a>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
</body>


